# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Pytest
.cache

# Local configuration files
*.local

# Virtual Environment
venv/